.news-card .a-box {
  display: inline-block;
  width: 30%px;
  text-align: center;
}

.news-card .img-container {
    height: 230px;
    width: 280px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.news-card .img-container img {
    /* object-fit: cover; */
    /* transform: skew(0deg, -13deg); */
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.news-card .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    /* transform: skew(0deg, 13deg); */
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 230px;
    width: 250px;
}

.news-card .text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.news-card .text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #00a9ff;
  font-size: 18px;
}

.news-card .bg-blue {
    background-color: #00a9ff;
    border: white;
    margin: 0 auto;

}

.news-card .bg-blue:hover {
    background-color: white;
    border:1px solid #00a9ff;
    color: #00a9ff;
}

.news-card .leer-mas {
  margin: 20px auto;
  width: 80%;
.leer-mas {
  margin: 20px 0!important;
}