.userPhoto{
    height: 3.5rem;
    border-radius: 40%;
    margin-right: 10px;
}

.participantCard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.big{
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
}
.event-card .a-box {
  display: inline-block;
  width: 30%px;
  text-align: center;
}

.event-card .img-container {
    height: 230px;
    width: 280px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.event-card .img-container img {
    /* object-fit: cover; */
    /* transform: skew(0deg, -13deg); */
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.event-card .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    /* transform: skew(0deg, 13deg); */
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 230px;
    width: 250px;
}

.event-card .text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.event-card .text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #00a9ff;
  font-size: 18px;
}

.event-card .bg-blue {
    background-color: #00a9ff;
    border: white;
}

.event-card .bg-blue:hover {
    background-color: white;
    border:1px solid #00a9ff;
    color: #00a9ff;
}

.create-event-form  .center {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

.create-event-form  .bg-blue {
    background-color: #00a9ff;
    border: white;
    margin: 0 auto;

}

.create-event-form  .bg-blue:hover {
    background-color: white;
    border:1px solid #00a9ff;
    color: #00a9ff;
}

.boton-events {
    margin: 10px 0;
}

.detalles-evento {
    padding-left: 20px;
}

.titleCard {
    font-size:x-large!important;
    margin-top: 10px;
}

.boton-anular {
    margin-left: 20px;
}