.aboutCointainer {
    margin-top: 40px;
}

.aboutCointainer .image {
    height: 350px;
    margin-top: 20px;
}

.aboutCointainer .images2 {
    height: 350px;
    margin-top: 20px;
    padding-right: 20px!important;
}

.aboutCointainer h5{
    display: flex;
    justify-content: center;
    font-style: italic;
}

.aboutCointainer .logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutCointainer .firstPara > p {
    font-display: flex;
    text-align: center;
    font-weight: 300;
}

.aboutCointainer .firstPara {
    margin-bottom: 40px;
}

.aboutCointainer .planes {
    margin: 20px 0;
    height: 280px;
}