.imagesAbout {
    margin-top: 80px;
    height: 400px;
}

.aboutUs {
    padding: 0px 80px;
    margin: 40px 0;
}

.photo3 {
    height: 320px;
    margin-top: 15px;
}

section {
    margin: 40px 0;
}