.containerNews .comment {
    border: 1px solid;
    padding: 5px;
    margin-top: 5px;
}

.containerNews .imageNews {
    margin: 40px 0;
    height: 400px;
}

.containerNews .second-column {
    margin-top: 40px;
}

.containerNews .commentsNews {
    margin-top: 40px;
}

.containerNews .ownerComment {
    font-weight: bolder;
}