
.index-page .hero {
    background-size: cover;
    height: 700px;
    width: 100%;
    margin: 0!important;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    color: white;
    padding-bottom: 200px; 
}

.index-page .blue {
    color: #00a9ff;
}

.index-page .bg-blue {
    background-color: #00a9ff;
    border: white;
}

.index-page .bg-blue:hover {
    background-color: white;
    border:1px solid #00a9ff;
    color: #00a9ff;
}

.index-page hr {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    color: #00a9ff;
    width: 400px;
    margin: 20px auto;
    border-top: 2px solid #00a9ff;
    
    
}

.index-page .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 0;
}

.index-page .box {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}
.index-page .conocenos {
  text-decoration: none;
}

.index-page .parallax {
  background-image: url("https://akafliegmadrid.etsiae.upm.es/wp-content/uploads/2019/02/K7_landing_2.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-page .center {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

/* -----------------------------  INDEX NEWS  -----------------------------*/


.index-page .newsTitle {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    
    font-size: 2.5em;
}

.newsCard Button {
  width: 150px;
  padding: 10px;
  margin: 20px auto;

}

.index-page .newsSection {  
    margin-bottom: 100px;
}

.index-page .newsSection img {
    object-fit: cover;
}

.index-page .newsCard {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    height: 100%;
}

.card-img, .card-img-bottom {
  width: 100%;
  height: 20rem;
}

.index-page .newsCard:hover {
    top:-4;
}

.index-page .a-box {
  display: inline-block;
  width: 30%px;
  text-align: center;
}

.index-page .img-container {
    height: 230px;
    width: 280px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.index-page .img-container img {
    /* object-fit: cover; */
    transform: skew(0deg, -5deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.index-page .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 5deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 230px;
    width: 250px;
}

.index-page .text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.index-page .text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #00a9ff;
  font-size: 18px;
}

/* -----------------------------  INDEX PRICES  -----------------------------*/

.index-page .prices-title {
    margin-top:50px ;
    margin-bottom:50px ;

}

.index-page .prices {
    margin-bottom: 100px;
}

.index-page .prices-info {
  margin-top: 50px;
}

.index-page .prices-info p {

  margin-bottom: 30px;
}

.index-page .prices-card {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 20px;
}

/* -----------------------------  HERO BUTTON  -----------------------------*/


.index-page .btn-effect {
  border-radius: 4px;
  /* background-color: #5ca1e1; */
  border: 1px solid;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); 
}


.index-page .btn-effect{
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
  margin-left: 10rem;
}

.index-page .btn-effect:after {
  content: '✈︎';
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.index-page .btn-effect:hover{
  padding-right: 24px;
  padding-left:8px;
}

.index-page button:hover:after {
  opacity: 1;
  right: 10px;
}

.index-page .facebook {
  display: flex;
  justify-content: center;
}

.index-page .twitter {
  display: flex;
  justify-content: center;
}





