.container-projects {
    margin: 40px;
}

.container-projects h2 {
    text-decoration: underline;
}

.container-projects .photoplane {
    margin-bottom: 20px;
}

.container-projects article {
    margin: 40px 0;
}

.container-projects .relato {
    font-style: italic;
    font-weight: 200;
}

.container-projects .arreglo {
    height: 250px;
}

.container-projects section {
    margin:20px;
}

.container-projects .simulador {
    height: 400px;
}